<%- include('./header.ejs') %> <%- include('./navbar.ejs') %>

<body>

  <div class="container">
    <% users.forEach(element => { %>

    <div class="card m-2">
      <div class="card-body">
        <h3 class="card-title"><%= element.name %></h3>
        <h6 class="card-subtitle mb-2 text-muted">Bill no. : <%= element.id %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Phone : <%= element.phone %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Address : <%= element.address %></h6>
        <p class="card-text">
          <strong>Date:</strong> <%= element.timestamp %>
          <br>
          <hr>
          <strong>Items</strong>

        <table class="table table-sm ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Service</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% JSON.parse(element.items).forEach(item => { %>
            <tr>
              <td><%= item.name %></td>
              <% let type = item.type %>
              <td><%= type %></td>
              <td><%= item.price %></td>
              <td><%= item.count %></td>

              
            </tr>
            <% }) %>
          </tbody>
        </table>
        <h4>Total: ₹<%= element.total %>.0</h4>
        <% const deliveryDate = new Date(element.deliverydate); %>
        <% if (deliveryDate < Date.now()) { %>

        <h4 class="card-subtitle mb-2 text-danger">Delivery Date: <%= element.deliverydate %></h4>

        <% } else { %>

        <h4 class="card-subtitle mb-2 text-success">Delivery Date: <%= element.deliverydate %></h4>


        <% } %>



            <% if ( element.payment ) { %>

                <% if (element.payment == 'cash' || element.payment == 'online') { %>
                  <h4 class="card-subtitle mb-2 text-success">Payment Done</h4>
                  <h6 class="card-subtitle mb-2 text-primary">Payment Method: <%= element.payment %></h6>
                <% } else { %>
                    <h4 class="card-subtitle mb-2 text-warning">Full Payment Not Done</h4>
                    <h6 class="card-subtitle mb-2 text-danger">Payment Required: ₹<%= element.payment %></h6>
                  <% } %>
                



            <% } else { %>

              <form action="/paymentdone/<%= element.id %>" method="post">
                <select class="form-select mb-3" id="payment" onchange="changepayment()" name="paid" aria-label="Default select example">
                  <option value="cash">Cash</option>
                  <option value="online">Online</option>
                  <option value="">Other</option> 
                  </select>

                  <input class="form-control mb-3 " type="hidden" name="paid" id="other">

                  <script>
                      if (document.getElementById("payment").value === "") {
                        document.getElementById("payment").name = "";
                        document.getElementById("other").type = "number";
                      }
                    function changepayment(){
                      if (document.getElementById("payment").value === "") {
                        document.getElementById("payment").name = "";
                        document.getElementById("other").type = "number";
                      }
                      else{
                        document.getElementById("other").type = "hidden";
                        document.getElementById("payment").name = "paid";

                      }

                    }

                  </script>

                  <button type="submit" class="btn btn-success">Payment Done </button>
              </form>

            <% } %>

        </p>
      </div>
    </div>

    <% }) %>
  </div>

</body>