<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<style>
  .itemhover:hover{
    background-color: aliceblue;
    color: black;
  }

</style>


<body>



  <%- include('./partials/navbar.ejs') %>
    <div class="container-fluid " >
      
      <div class="row " style="height: 92vh">
        <div class="col-3 bg-dark text-light d-flex flex-column p-3">
          <div class="row">
            <h4>Items</h4>

            <input
              class="form-control me-2"
              type="text"
              id="filteritems"
              placeholder="search..."
            />
            <hr>
            <div class="mb-2 p-0 overflow-auto" style="max-height: 50vh;">
              <% items.forEach(element => { %>
              <div class="p-1 my-1 itemhover" style="display: flex">
                <h5
                  type="button"
                  class="w-100 m-0"
                  onclick="add(this)"
                  data-price="<%= element.price %>"
                >
                  <%= element.name %>
                </h5>

                <h6 class="ms-auto my-auto">₹<%= element.price %></h6>
              </div>
              <hr />

              <% }) %>
            </div>

          </div>

          <div class="row mt-auto">
            <hr />
            <h4>Create Items</h4>

            <form class="mb-3" method="post" action="/createitem">
              <input
                class="form-control mb-2"
                type="text"
                name="name"
                placeholder="itemname"
                required
              />
              <input
                class="form-control mb-2"
                type="number"
                name="price"
                placeholder="itemprice"
                required
              />
              <button class="btn btn-primary btn-sm" type="submit">
                Create Item
              </button>
            </form>
          </div>
        </div>
    
        <div class="col-9 text-center d-flex flex-column">
         <div class="text-start">
          <h5><%= branch.name %></h5>
         </div>
          <h2>Create Cutomer</h2>

          <form action="/createuser" method="post">
            <div class="mb-1">
              <input
                class="form-control mb-1"
                type="text"
                name="name"
                placeholder="name"
                required
              />
              <input
                class="form-control mb-1"
                type="text"
                name="phone"
                placeholder="number"
              />

              <div id="itemlist" class=""></div>
            </div>
            <hr>
            <div class="mb-3 ms-auto" style="max-width: 300px;">
              <label class="mb-1" for="Date">Date Of Delivery</label>
              <input id="Date" name="dob" class="form-control" type="date" required />
            </div>

            <div class="mb-2 text-end">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


  <script>
    document.body.addEventListener('htmx:afterSwap', function(event) {
      var searchInput = document.getElementById("searchInput");
      if (searchInput) {
        searchInput.focus();
      }
    });
  </script>


  <script>
    function deleteInput(button) {
      // Get the parent div of the input and remove it from the DOM
      var parentDiv = button.parentElement;
      parentDiv.remove();
    }

    function add(el) {

      const list = document.getElementById('itemlist')
      list.innerHTML +=
        `
        <div class="mb-1 d-flex">
                <input type="text" class="form-control me-1"  name="items" value="${ el.innerHTML.trim()}" >
                <select class="form-select me-1 mb-2" name="type" id="">
                  <option value="rafu">rafu</option>
                  <option value="press">press</option>
                </select>

            
                
                <input type="number" class="form-control me-1"  name="price" value="${el.getAttribute('data-price')}" >
                <input type="number" class="form-control me-1" name="count" value="1" min="1" >
                <i class="fa-solid fa-circle-xmark text-danger m-auto" onclick="deleteInput(this)" style="font-size: 1.5rem;"></i>
            </div>
        `



    }




    document.getElementById('filteritems').addEventListener('input', function() {
      var filterValue = this.value.toLowerCase(); // Get the value entered by the user and convert it to lowercase for case-insensitive filtering
      var itemList = document.getElementById('items');
      var items = itemList.getElementsByTagName('h5');


      Array.from(items).forEach(function(item) {
        var text = item.textContent.toLowerCase();

        if (text.indexOf(filterValue) > -1) {
          item.parentElement.style.display = 'flex'; // Show the item if the text matches the filter
        } else {
          item.parentElement.style.display = 'none'; // Hide the item if the text does not match the filter
        }
      });


    });
  </script>





</body>

</html>